

[ RESTYLE TAG]*/ * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: #a7c3cc;
}


/* ------------------------------------ */

a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

.logo-text {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.logo {
  /*width: 30px;*/
  height: 30px;
 /* margin-right: 10px;*/
}


/* ------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}


/* ------------------------------------ */

input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}


/* ------------------------------------ */

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 95%;
  /*min-height: 100vh;*/
  background: #a7c3cc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 32px;
  padding-right: 32px;
}

.wrap-table100 {
  width: 1400px;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container-table100{
    width: 85%;
  }
  .table {
    display: block;
  }
  .wrap-table100 {
    width: 1400px;
    margin-top: 20px;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background: #047194;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }
  .row.header {
    padding: 0;
    height: 0px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell:before {
    font-size: 16px;
    color: #c74153;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
  .buy-list {
    padding-bottom: 20px;
  }
  .bill-recharged {
    padding-bottom: 38px;
    padding-top: 10px;
  }
  .import {
    padding-left: 10px;
  }
  .export {
    padding-left: 10px;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  text-align: center;
}

.bill-recharged {
  background-color: #047194;
  height: 50px;
  width: 120px;
  border-radius: 2px;
  color: white;
}

.import {
  background-color: #047194;
  /*float: right;
  margin-left: 11px;*/
  height: 38px;
  width: 70px;
  border-radius: 2px;
  color: white;
}
.fileimport{
  float: right;
}

.export {
  background-color: #047194;
  float: right;
  height: 38px;
  width: 70px;
  border-radius: 2px;
  color: white;
}

.button-component {
  /*width: 100%;*/
  height: auto;
  background-color: #a7c3cc;
  padding-left: 62px;
  padding-right: 62px;
}

.page-component {
  width: 100%;
  height: auto;
  background-color: #a7c3cc;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.bill-recharged:hover {
  background-color: #395761;
}

.import:hover {
  background-color: #395761;
}

.export:hover {
  background-color: #395761;
}

.search-button:hover {
  background-color: #395761;
}

.search-button {
  float: left;
  border-radius: 2px;
  background-color: #047194;
  height: 38px;
  margin-left: 2px;
  color: white;
}

.search-bar {
  float: left;
  border: 1px blue;
  border-radius: 2px;
  height: 35px;
  width: 250px;
}

.search-component {
  float: right;
  padding-bottom: 10px;
  /*padding-right: 17px;*/
}

.wifi {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-family: :Times New Roman;
  color: #013647;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.buy-list {
  text-align: center;
  padding-top: 74px;
  font-weight: bold;
  font-family: :Times New Roman;
  color: #05789e;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.previous {
  float: center;
}

.next {
  float: center;
}

.row.header .cell {
  font-family: :Times New Roman;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
}

.number-np {
  background-color: #05789e;
  color: white;
}

.row .cell:nth-child(1) {
  width: 70px;
  text-align: center;
}

.row .cell:nth-child(2) {
  width: 150px;
  text-align: center;
}

.row .cell:nth-child(3) {
  width: 210px;
  text-align: center;
}

.row .cell:nth-child(4) {
  width: 190px;
  text-align: center;
}
.row .cell:nth-child(5) {
  width: 190px;
  text-align: center;
}
.table,
.row {
  width: 100% !important;
}


/*.row:hover {
  background-color: #ececff;
  cursor: pointer;
}*/

@media (max-width: 768px) {
  .row {
    padding-bottom: 18px;
    padding-top: 30px;
    margin: 0;
  }
  .button-component {
    padding-bottom: 43px;
    padding-right: 17px;
    padding-left: 17px;
  }
  .row .cell {
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid gray;
  }
  .row .cell:nth-child(1) {}
  .row .cell {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }
  .table,
  .row,
  .cell {
    width: 100% !important;
  }
}

